html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #00fdff ;
    height: 100vh;
    overflow: hidden;
    transition: .2s all ease-in-out;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border-left: 5px solid rgba(255, 0, 0, 0.829);
    padding-left: 100px;
}

._lupTitleHeader h1{
    font-weight: bold;
    font-size: 3rem;
}


._lupText p{
    font-size: 2rem;
    line-height: 3rem;
}

._lupPrayStatus {
    /* padding: 14px; */
}
._lupPrayStatus button:nth-child(even){
    margin-left: 14px;
    margin-right: 14px;
    background: #4BC94D;

}

._lupPrayStatus button{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 8px 14px;
    color: #fff;
    background: rgb(17, 125, 197);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

._lupPrayStatus button:hover{
    transform:translateY(-5px) ;
    transition: .5s all ease-in-out;
    box-shadow: 0px 15px 20px rgba(184, 184, 184, 0.4);
}